section
  h2.slide-title A doua pagina
  p More bla bla
  | $$ x_{ij} $$

section
  h1 Ecuatie mai complexa
  | $$ \eta_i^{(\tau+1)}=
  |   \begin{cases}
  |     \min(\rho\cdot \eta_i^{(\tau)}, \eta_{max}) & \text{if}\quad
  |     \frac{\partial E}{\partial w_i^{(\tau)}} \cdot \frac{\partial E}{\partial w_i^{(\tau-1)}} > 0 \\
  |     \max(\sigma\cdot \eta_i^{(\tau)}, \eta_{min}) & \text{if}\quad
  |     \frac{\partial E}{\partial w_i^{(\tau)}} \cdot \frac{\partial
  |       E}{\partial w_i^{(\tau-1)}} < 0
  |   \end{cases}  $$

section.split-screen
  div
    chestii
  div
    chestii
